<h1>Welcome, <%= current_user.name %></h1>

<p>
  User: <%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %> | <%= link_to "Home", root_path %>
</p>

<%= link_to 'Edit Profile', edit_user_registration_path %>

<h3>Role : <%= current_user.role %></h3>
<h3>Name : <%= current_user.name %></h3>
<h3>Attack Level : <%= current_user.attack_level %></h3>
<%= image_tag "#{current_user.avatar}" %>

<%= link_to "Delete Avatar", :sort_by => 'delete' %>
