<h1>Welcome, <%= current_user.name %></h1>

<p>
  User: <%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %> | <%= link_to "Home", root_path %>
</p>

<%= link_to 'Edit Profile', edit_user_registration_path %>

<h3>Role : <%= current_user.role %></h3>
<h3>Name : <%= current_user.name %></h3>
<h3>Attack Level : <%= current_user.attack_level_math %></h3>
<%= image_tag "#{current_user.avatar}" %>
<br>

<%= link_to "Delete Avatar", :sort_by => 'delete' %>
<br>

<%= link_to "View All Items", items_path %>
<br>

<% if current_user && current_user.admin %>
  <%= link_to "Add item", new_item_path %>
<% end %>
<br>

<h3>Inventory of Items</h3>

<% if @user_items.any? %>
  <% @user_items.each do |item| %>
    <p> <%= item.name %></p>
    <p> Attack Level Increase: <%= item.user_attack_increase %></p>
    <p> One Time Attack (consumes item): <%= item.one_time_attack %></p>
    <hr>
  <% end %>
<% else %>
  <p>
    This user has no items in their inventory yet.
  </p>
<% end %>
